*{
    margin:0;
    padding: 0;
}

.home-container{
    max-width: 100vw;
    min-width: 100vw;
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    min-height: 100vh;
    background-color: #232323;
    overflow:hidden;
}
.home-header-left{
    color: white;
    width: 100%;
    height:10vh;
    min-height: 60px;
    max-height: 60px;
    background-color: orange;
    position: sticky;
    top:0;
    left: 0;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.home-header-right{
    border-left: 1px solid lightyellow;
    color: white;
    width: 100%;
    height:10vh;
    min-height: 60px;
    max-height: 60px;
    background-color: orange;
    position: sticky;
    top:0;
    left: 0;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    padding:10px 20px 10px 20px;
    align-items: center;
}

.home-body{
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.home-body-left{
    height: 100%;
    width: 20vw;
    border-right: 1px solid orange;
    box-shadow: 0 1px 1px 0 orange, inset 1px 1px 0 0 orange;
    background-color: white;
}
.home-search{
    /* position: sticky;
    top:60px;
    left: 0; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    color: #232323;
    background-color: lightyellow;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: none;
    font-size: 1.2em;
}

.search-button{
    border:none;
    outline: none;
    height: 100%;
    padding-right: 10px;
    background-color: lightyellow;
    color: orange;
    cursor: pointer;
}
.home-friends{
    background-color: white;
    color: orange;
    margin:10px;
    max-height: 80vh;
    align-items: center;
    overflow-y: scroll;
    flex-direction: vertical;
    justify-content: flex-start;
    -ms-text-overflow: none;
    scrollbar-width: none;
}

.home-friends::-webkit-scrollbar{
    display: none;
}
.single-friend{
    cursor: pointer;
    padding:10px;
    background-color: white;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid orange;
    height: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.list-heading{
    margin-top: 10px;
    background-color: lightyellow;
    padding:10px;
    border-radius: 20px;
    box-shadow: 0 1px 1px 0 orange, inset 1px 1px 0 0 orange;
}
.home-body-right{
    max-height: 100vh;
    width: 80vw;
    background-color: white;
}

.home-chat{
    height: 84%;
    overflow-y: scroll;
    padding: 0 10px 10px 10px;
    -ms-text-overflow: none;
    scrollbar-width: none;
}

.home-chat::-webkit-scrollbar{
    display: none;
}



.home-input-container{
    border-top: 1px solid orange;
    width: 80vw;
    height: 7%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.home-input{
    color: #232323;
    background-color: lightyellow;
    width:90%;
    height: 100%;
    /* margin:0 10px; */
    padding: 0 20px;
    border: none;
    font-size: 1.2em;
}
input:focus, textarea:focus, select:focus{
    outline: none;
    
}

.home-input-button{
    width: 20%;
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border: none;
    width: 10%;
    height: 100%;
    background-color: orange;
}

.message-container{
    margin: 10px;
    display: flex;
}

.message{
    color: white;
    width: fit-content;
    height: 100%;
    padding: 10px 20px;
    border-radius: 30px;
    position: relative;
    right: 0;
    font-weight: 400;
    font-size: 20px;
}

.friend{
    background-color: lightyellow;
    color: orange;
}
.user{
    background-color: orange;
    color: white;
}
.justifyStart {
justify-content: flex-start;
}

.justifyEnd {
justify-content: flex-end;
}

.chat-image{
    background-color: lightyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    padding:20px;
}
.MuiLinearProgress-colorPrimary{
    background-color: lightyellow !important;
}
.MuiLinearProgress-barColorPrimary {
    background-color: orange !important;
}