html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color:orange;
  }
  
  .joinInnerContainer {
    width: 30%;
    background-color: lightyellow;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 1px 2px white;
  }
  
  .joinInput {
    border-radius: 30px;
    padding: 15px 20px;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: 0 1px 1px 1px rgba(250, 191, 82, 0.9);
    transition: all ease;
  }

  .joinInput:focus{
    box-shadow: 0 1px 1px 2px orange;
  }
  
  .heading {
    color: orange;
    font-size: 2.5em;
    padding-bottom: 10px;
  }
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: orange;
      padding: 20px;
      border-radius: 30px;
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      border: none;
      width: 100%;
      transition: all ease;
  }

  .button:hover{
    background-color: rgb(248, 180, 53);
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  .switch{
    color: orange;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;

  }
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }